

<% include('../layouts/header.ejs') %>

<style>
  /* Styles for the h1 tag */
  h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
  }

  /* Styles for the form */
  form {
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
  }

  /* Styles for form inputs */
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  /* Styles for the submit button */
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
</style>

<h1>Edit</h1>

<form action="/edit-user" method="POST">
  <input type="hidden" name="user_id" value="<%= user._id %>">
  <br>
  <input type="text" name="name" value="<%= user.name %>" placeholder="Enter Name" required>
  <br>
  <input type="text" name="email" value="<%= user.Email %>" placeholder="Enter Email" required>
  <br>
  <input type="text" name="mobile" value="<%= user.mobile %>" placeholder="Enter Mobile No" required>
  <br>
  <input type="submit" href="/edit-user?id=<%= user._id %>" value="Update Profile">
</form>

<% include('../layouts/footer.ejs') %>
